* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 200vh;
}

.about-header {
  background-image: url('https://images.immediate.co.uk/production/volatile/sites/23/2010/07/GettyImages-671702530-d9032ee.jpg');
  background-size: cover;
  background-position: center top -120px;
  height: 32rem;
  background-color: bisque;
}

.about-header-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.7rem;
  padding-right: 60%;
  padding-top: 3rem;
}

.about-name {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: hsla(124, 38%, 46%, 0.863);
  color: whitesmoke;
  font-size: 2.6rem;
  font-style: oblique;
}

.about-img-container {
  width: 8rem;
}

.logo {
  width: 100%;
  height: auto;
}

.nav-container {
  list-style-type: none;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(32, 114, 36);
}

.nav-container li .subtitle {
  border-bottom: 2px dashed;
  cursor: pointer;
}

.nav-container li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: whitesmoke;
}

.nav-container li a:visited {
  color: rgb(177, 228, 75)
}

.nav-container li a:hover {
  color: rgb(255, 149, 237);
}

.nav-container li a:active {
  color: rgb(102, 240, 245)
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.sections {
  padding-top: 0.5rem;
  font-size: 1rem;
  gap: 1.5rem;
  display: none;
  cursor: pointer;
}

.sections option {
  border: 0.01px dotted black;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: rgb(120, 141, 207);
  color: white;
}

#herbivors,
#carnivouros,
#omnivouros {
  background-color: rgb(253, 253, 205);
  display: flex;
  padding: 2.5rem;
  column-gap: 3rem;
  justify-content: center;
}


.image-container {
  padding-top: 8%;
  width: 90rem;
  height: auto;
  position: relative;
}

.image-container img {
  position: absolute;
  width: 100%;
}

.greeting,
.goals-label {
  font-family: monospace;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
}

.content-container {
  line-height: 1.8rem;
  text-align: justify;
}

#title {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-block: 1rem;
}

.herbivors-list {
  background-color: rgb(255, 251, 238);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-block: 1rem;
  justify-content: center;
}

.herbivors-list p {
  padding-bottom: 2rem;
  line-height: 2rem;
  ;
  text-align: justify;
}

.block {
  width: 17rem;
}

.block img {
  width: 100%;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

section {
  display: flow-root
}

.clear {
  clear: both;
}

.animal-type {
  background-color: rgb(184, 98, 19);
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-block: 0.1rem;
  margin-right: 0.3rem;
}

.columns p {
  margin-top: 0;
}

.columns {
  background-color: rgb(240, 253, 244);
  padding: 2rem;
  column-count: 3;
  column-rule: 3px solid grey;
  column-gap: 3rem;
  break-inside: avoid;
  break-before: column;
}

.carnivouros-name {
  background-color: hsl(234, 65%, 65%);
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-block: 0.1rem;
  margin-right: 0.3rem;
}

.exotic-animal-pic {
  width: 10rem;
  height: auto;
}

.exotic-img {
  width: 100%;
  height: 20rem;
}

.exotic-label {
  text-align: center;
  padding-block: 0.3rem;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.3rem;
}

#carnivouros .image-container{
  width:65rem;
  height:auto;
}

.main-pic-car{
  width:100%;
}

#omnivouros .image-container{
  padding-top:6%;
  width:60rem;
  height: auto;
}

#omnivouros .image-container img {
  width: 100%;
  height: 24rem;
}

.outer-space-container{
  padding-left:20rem;
  padding-right:20rem;
  background-image: url('https://www.kxan.com/wp-content/uploads/sites/40/2018/04/coggeshall-raccoon-00028_1522751326318_38976574_ver1.0.jpg');
  background-size: cover;
  padding-block:1.5rem;

}

.omnivouros-container {
  padding: 4rem;
  background-image: linear-gradient(to right, rgba(241, 244, 255, 0.86), rgba(177, 191, 253, 0.86));
  border-style: dashed;
  border-radius: 10rem;
  position: relative;
}


.omnivouros-container p{
  margin-bottom: 1.3rem;
  line-height:1.8rem;
  text-align: justify;
  color:black;
}

.omni-name{
  background-color: rgb(255, 154, 250);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-block: 0.1rem;
  margin-right: 0.3rem;
}

.footer-nav {
  height: 10rem;
}

.footer-nav-container {
  padding-top: 0.7rem;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 234, 252);
}

.footer-nav-container li .footer-subtitle {
  border-bottom: 2px dashed;
  cursor: pointer;
}

.footer-subtitle-container {
  margin-bottom: 0.4rem;
}

.home-list {
  list-style-type: square;
}

.home-list li::marker {
  color: blue;
  font-size: 1.1rem;
}

.home-list li {
  padding-top: 0.5rem;
  ;
}

.home-list li a {
  text-decoration: none;
}